@model IEnumerable<MvcApplication1.Models.Customers>

@{
    ViewBag.Title = "Mine Kunder";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Ny Kunde", "CreateCustomer", "Customer")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.ActionLink("Rediger", "EditCustomer", new { id=item.Id }) |
            @Html.ActionLink("Detaljer", "Details", new { id=item.Id }) |
            @Html.ActionLink("Slett", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
